$pink:#FFCCBB;
$coral:#F78D7D;
$peach: #F8D3B0;
$purple:#CB9897;
$blue:#9BB9C3;
$champagne:#FAE6D0;
$olivegreen:#758250;
$olive:#A79B60;
$sage: #D1E2C4;
$darkpurple:#947481;
$fontcolor-light: wheat;
$fontcolor-dark: #82716A;