@use 'nav';
@use 'fonts';
@use 'colors';

.coding, .psychology, .teaching{
    background-color: white;
    
    h1{
        font-family: $heading-font-family;
        color: $purple;
    }

    .icon{
        font-size: 72px;
        margin: 25px;
        color: $pink;
        text-align: center;
    }

}