footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $pink;

    .fa-brands{
        color: $coral;
        font-size: 48px;
        margin: 15px;
    }

    .built{
        align-self: flex-end;
    }

}