@import "fonts";

header{

    margin: 25px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $pink;

    .hi__header{
        max-width: 100%;
        max-height: 50vh;
        overflow: hidden;

        img{
            width: 100%;
        }
    }
    
    figure{
        width: 25%;
        margin: -20% 25px 25px;p
 
        img{
            width: 100%;
            border-radius: 50%;
        }
    }

    

    .hi__quote{
        align-self: flex-end;
        margin: 25px;
    }

}

.hi__logo{
    margin: 25px;
    font-family: $apple-font-family;
    font-size: 52px;
    

    // &--caroline{
    //     margin: 25px;
    //     transform: rotate(270deg);
    // }

  
    
}