@import "fonts";

header{

    margin: 25px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $blue;

    .hi__header{
        width: 100%;
        max-height: 50vh;
        overflow: hidden;

        img{
            width: 100%;
        }
    }
    
    figure{
        width: 25%;
        margin: -20% 25px 25px 25px;
 
        img{
            width: 100%;
            border-radius: 50%;
        }
    }

    

    .hi__quote{
        align-self: flex-end;
        margin: 25px;
    }

    .hi__logo{
        margin: 25px;
        font-family: $apple-font-family;
        font-size: 52px;
        
    }

    .btn{
        margin: 25px;
    }

    .hi__text{
        margin: 25px;
        padding: 25px;
        font-size: 42px;
        align-self: flex-start;
        font-family: $body-font-family;
    }

}

