.passion{
    padding: 25px;
    margin: 25px;
    

    &__heading{
        font-family: $body-font-family;
        font-size: 52px;
        margin: 25px;
        padding: 15px;
    }

    &__gallery{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

     figure{
        width:20%;
        margin: 15px;
        border: 1px solid #bfbfbf;
        box-sizing: border-box;
        padding: 8px;
        box-shadow: 10px 10px 5px #aaaaaa;
        background-color: white;

        img{
            width: 100%;
        }

        figcaption{
            font-family: $body-font-family;
            text-align: center;
            padding: 8px 4px;
        }
    }
  
    @keyframes imagescale{
        0% {transform: scale(1);}
        50% {transform: scale(1.2);}
        100% {transform: scale(1);}
    }

    figure:hover{
        animation: imagescale 3s ease infinite;
        opacity: 0.8;
    }

    .rotate_right{
        transform: rotate(8deg)
    }

    .rotate_left{
        transform: rotate(-8deg);
    }
    }
}